{{- if .Values.backup.enabled }}
{{- if .Values.backup.initialBackup.enabled }}
{{- if or .Values.backup.s3.enabled .Values.backup.gcs.enabled }}
---
apiVersion: postgresql.cnpg.io/v1
kind: Backup
metadata:
  name: {{ .Release.Name }}-initial-backup
  labels:
    {{- include "cnpg-database.labels" . | nindent 4 }}
spec:
  cluster:
    name: cluster-{{ .Release.Name }}
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
    parameters:
      barmanObjectName: {{ .Release.Name }}-{{ if .Values.backup.s3.enabled }}s3{{ else }}gcs{{ end }}-backup
  target: {{ .Values.backup.initialBackup.target | default "primary" }}
{{- end }}
{{- end }}
{{- end }}

